In [20]:
import pandas as pd
import numpy as np

In [21]:
url = "https://datascience.quantecon.org/assets/data/chipotle_raw.csv.zip"
chipotle = pd.read_csv(url)

# Exercise 1

In [22]:
c2n = '#39'
c2n = c2n.replace('#','')
c2n = int(c2n)
type(c2n)

int

# Exercise 2

In [23]:
df = pd.DataFrame({"numbers": ["#23", "#24", "#18", "#14", "#12", "#10", "#35"],
                   "nums": ["23", "24", "18", "14", '14', "XYZ", "35"],
                   "colors": ["green", "red", "yellow", "orange", "purple", "blue", "pink"],
                   "other_column": [0, 1, 0, 2, 1, 0, 2]})
df['colors_upper'] = df['colors'].str.upper()

# Exercise 3

In [24]:
df['nums']

0     23
1     24
2     18
3     14
4     14
5    XYZ
6     35
Name: nums, dtype: object

This cannot be casted as numeric because the XYZ blocks the operation. If it is forcefully casted, then there will be a missing piece of data

# Exercise 4

In [25]:
#chipotle['item_price'] = chipotle['item_price'].str.replace('$','')
chipotle['item_price'] = chipotle['item_price'].astype(float)
mean_price = chipotle['item_price'].mean()
print(f'Mean Price: ${mean_price:.2f}')
allItems = chipotle['item_name'].unique()
steakItems = [str(item) for item in allItems if 'steak' in item or 'Steak' in item]

Mean Price: $7.46

C:\Users\Brendan\AppData\Local\Temp/ipykernel_19236/438381118.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  chipotle['item_price'] = chipotle['item_price'].str.replace('$','')

In [50]:
chickenitems = [str(item) for item in allItems if 'chicken' in item.split() or 'Chicken' in item.split()]

In [51]:
steakDF = chipotle.loc[chipotle['item_name'].isin(steakItems)]

In [52]:
chickenDF = chipotle.loc[chipotle['item_name'].isin(chickenitems)]

In [54]:
meanSteakPrice = steakDF.item_price.mean()
meanChickenPrice = chickenDF.item_price.mean()

print(f'Mean Steak Price:   ${meanSteakPrice:.2f}')
print(f'Mean Chicken price: ${meanChickenPrice:.2f}')

Mean Steak Price:   $10.52
Mean Chicken price: $10.13

Steak has a higher avg price

In [57]:
steakRevenue = steakDF.item_price.sum()
chickRevenue = chickenDF.item_price.sum()

print(f'Steak Revenue:   ${steakRevenue:.2f}')
print(f'Chicken Revenue: ${chickRevenue:.2f}')

Steak Revenue:   $7384.26
Chicken Revenue: $15808.61

Chicken produced substantially more revenue