# Code before exercises

In [2]:
import pandas as pd
url = "https://datascience.quantecon.org/assets/data/wdi_data.csv"
df = pd.read_csv(url)

In [6]:
df_small = df.head(5)
df_tiny = df.iloc[[0, 3, 2, 4], :]
im_ex = df_small[["Imports", "Exports"]]
im_ex_copy = im_ex.copy()
im_ex_tiny = df_tiny + im_ex

im_ex_tiny.mean()

Consumption         NaN
Exports        1.110027
GDP                 NaN
GovExpend           NaN
Imports        1.153402
country             NaN
year                NaN
dtype: float64

# Exercise 1

im_ex_tiny.mean() returns the mean for each column. Columns lacking data simply return an NaN value

# Exercise 2

In [11]:
wdi = df.set_index(["country", "year"])

#1
first = wdi.loc[["United States", "Canada"]]
print(type(first))
#This returns a dataframe with all values whose index is United States or Canada

<class 'pandas.core.frame.DataFrame'>

In [15]:
#2
second = wdi.loc[(["United States", "Canada"], [2010, 2011, 2012]), :]
print(type(second))
#This returns a dataframe with the indices of US/Canda and with values containing years 2010,2011,2012

<class 'pandas.core.frame.DataFrame'>

In [18]:
#3
third = wdi.loc['United States']
print(type(third))
#This returns a dataframe with all of the country indices == 'United States'
#This also removes that index as this is superfluous data

<class 'pandas.core.frame.DataFrame'>

In [21]:
#4
fourth = wdi.loc[("United States", 2010), ["GDP", "Exports"]]
print(fourth)
print(type(fourth))
#This returns a 2x1 series with GDP and exports for the index US, year=2010

GDP        14.992053
Exports     1.846280
Name: (United States, 2010), dtype: float64
<class 'pandas.core.series.Series'>

In [25]:
#5
fifth = wdi.loc[("United States", 2010)]
print(fifth)
print(type(fifth))
#This returns a series for the year 2010 country='United States'

GovExpend       2.510143
Consumption    10.185836
Exports         1.846280
Imports         2.360183
GDP            14.992053
Name: (United States, 2010), dtype: float64
<class 'pandas.core.series.Series'>

In [27]:
#6
six = wdi.loc[[("United States", 2010), ("Canada", 2015)]]
print(six)
print(type(six))
#This returns a dataframe containing two series, US/2010, Canada/2015

                    GovExpend  Consumption   Exports   Imports        GDP
country       year
United States 2010   2.510143    10.185836  1.846280  2.360183  14.992053
Canada        2015   0.358303     1.035208  0.568859  0.575793   1.794270
<class 'pandas.core.frame.DataFrame'>

In [31]:
#7
seven = wdi.loc[["United States", "Canada"], "GDP"]
print(type(seven))
#This returns a series with two country indices (US/Canada) and one col value (GDP)

<class 'pandas.core.series.Series'>

In [34]:
#8
Eight = wdi.loc["United States", "GDP"]
print(type(Eight))
#This returns a series with all of the US GDP values

<class 'pandas.core.series.Series'>

# Exercise 3

In [48]:
my_df = wdi.loc["United States"]
print(wdi / my_df)
print(my_df ** wdi)

my_df = wdi.loc[[("United States", 2010), ("Canada", 2015)]]
print(wdi / my_df)

#Applies operation where it can, sets values to NaN otherwise

                    GovExpend  Consumption   Exports   Imports       GDP
country       year
Canada        2017   0.154906     0.091143  0.254837  0.195453  0.107684
              2016   0.151537     0.090293  0.259644  0.196108  0.106881
              2015   0.150983     0.090730  0.255986  0.199835  0.107374
              2014   0.151446     0.091994  0.249065  0.209479  0.109728
              2013   0.149377     0.092297  0.244516  0.214844  0.109293
...                       ...          ...       ...       ...       ...
United States 2004   1.000000     1.000000  1.000000  1.000000  1.000000
              2003   1.000000     1.000000  1.000000  1.000000  1.000000
              2002   1.000000     1.000000  1.000000  1.000000  1.000000
              2001   1.000000     1.000000  1.000000  1.000000  1.000000
              2000   1.000000     1.000000  1.000000  1.000000  1.000000

[72 rows x 5 columns]
                    GovExpend   Consumption   Exports   Imports           GDP
country       year
Canada        2017   1.387005  1.523980e+01  1.619568  1.960173  2.066099e+02
              2016   1.378050  1.353518e+01  1.583538  1.859184  1.701261e+02
              2015   1.362946  1.243092e+01  1.574976  1.839208  1.564485e+02
              2014   1.349345  1.132143e+01  1.546959  1.777615  1.437772e+02
              2013   1.351031  1.034837e+01  1.475403  1.705445  1.200847e+02
...                       ...           ...       ...       ...           ...
United States 2004   6.406156  1.054215e+09  1.472533  4.821283  6.351379e+15
              2003   6.018316  3.573378e+08  1.271810  3.345966  1.019779e+15
              2002   5.598135  1.484192e+08  1.233142  2.899499  2.704852e+14
              2001   4.850457  7.471793e+07  1.264312  2.624784  1.228850e+14
              2000   4.285656  3.895882e+07  1.384935  2.839821  7.866493e+13

[72 rows x 5 columns]
                    GovExpend  Consumption  Exports  Imports  GDP
country       year
Canada        2000        NaN          NaN      NaN      NaN  NaN
              2001        NaN          NaN      NaN      NaN  NaN
              2002        NaN          NaN      NaN      NaN  NaN
              2003        NaN          NaN      NaN      NaN  NaN
              2004        NaN          NaN      NaN      NaN  NaN
...                       ...          ...      ...      ...  ...
United States 2013        NaN          NaN      NaN      NaN  NaN
              2014        NaN          NaN      NaN      NaN  NaN
              2015        NaN          NaN      NaN      NaN  NaN
              2016        NaN          NaN      NaN      NaN  NaN
              2017        NaN          NaN      NaN      NaN  NaN

[72 rows x 5 columns]

# Exercise 4

In [103]:
wdi2 = df.set_index(["year", "country"])

wdi2.loc[pd.IndexSlice[:,['United States'],:]]
wdi2.loc[pd.IndexSlice[[2010, 2011, 2012],["United States", "Canada"],:]]
wdi2.loc[pd.IndexSlice[:,["United States", "Canada"], :]]['GDP']

year  country
2017  United States    17.348627
2016  United States    16.972348
2015  United States    16.710459
2014  United States    16.242526
2013  United States    15.853796
2012  United States    15.567038
2011  United States    15.224555
2010  United States    14.992053
2009  United States    14.617299
2008  United States    14.997756
2007  United States    15.018268
2006  United States    14.741688
2005  United States    14.332500
2004  United States    13.846058
2003  United States    13.339312
2002  United States    12.968263
2001  United States    12.746262
2000  United States    12.620268
2017  Canada            1.868164
2016  Canada            1.814016
2015  Canada            1.794270
2014  Canada            1.782252
2013  Canada            1.732714
2012  Canada            1.693428
2011  Canada            1.664240
2010  Canada            1.613543
2009  Canada            1.565291
2008  Canada            1.612862
2007  Canada            1.596876
2006  Canada            1.564608
2005  Canada            1.524608
2004  Canada            1.477317
2003  Canada            1.433089
2002  Canada            1.407725
2001  Canada            1.366590
2000  Canada            1.342805
Name: GDP, dtype: float64

# Exercise 5

In [95]:
wdiT = wdi.T
wdiT.T.loc[pd.IndexSlice[:,[2010, 2012, 2014],:]].T

country,Canada,Germany,United Kingdom,United States,Canada,Germany,United Kingdom,United States,Canada,Germany,United Kingdom,United States
year,2010,2010,2010,2010,2012,2012,2012,2012,2014,2014,2014,2014
GovExpend,0.347332,0.653386,0.521146,2.510143,0.354342,0.666454,0.528194,2.398873,0.353485,0.685990,0.538888,2.334071
Consumption,0.921952,1.915481,1.598563,10.185836,0.961226,1.967390,1.612550,10.534042,1.011988,1.999953,1.675716,11.000619
Exports,0.469949,1.443735,0.690824,1.846280,0.505969,1.607455,0.745484,2.045509,0.550323,1.712270,0.774022,2.209555
Imports,0.500341,1.266126,0.745065,2.360183,0.547756,1.354122,0.772692,2.560677,0.572344,1.445409,0.827311,2.732228
GDP,1.613543,3.417095,2.452900,14.992053,1.693428,3.559587,2.529323,15.567038,1.782252,3.654924,2.657159,16.242526

# Exercise 6

In [106]:
wdi.reset_index('year',inplace=True)

In [107]:
wdi.reset_index('country',drop=True,inplace=True)
wdi

    year  GovExpend  Consumption   Exports   Imports        GDP
0   2017   0.372665     1.095475  0.582831  0.600031   1.868164
1   2016   0.364899     1.058426  0.576394  0.575775   1.814016
2   2015   0.358303     1.035208  0.568859  0.575793   1.794270
3   2014   0.353485     1.011988  0.550323  0.572344   1.782252
4   2013   0.351541     0.986400  0.518040  0.558636   1.732714
..   ...        ...          ...       ...       ...        ...
67  2004   2.267999     9.311431  1.335978  2.108585  13.846058
68  2003   2.233519     8.974708  1.218199  1.892825  13.339312
69  2002   2.193188     8.698306  1.192180  1.804105  12.968263
70  2001   2.112038     8.480461  1.213253  1.740797  12.746262
71  2000   2.040500     8.272097  1.287739  1.790995  12.620268

[72 rows x 6 columns]