In [1]:
import pandas as pd
%matplotlib inline

from IPython.display import display

In [2]:
url = "https://datascience.quantecon.org/assets/data/wdi_data.csv"
wdi = pd.read_csv(url).set_index(["country", "year"])

In [3]:
wdi.head()

              GovExpend  Consumption   Exports   Imports       GDP
country year
Canada  2017   0.372665     1.095475  0.582831  0.600031  1.868164
        2016   0.364899     1.058426  0.576394  0.575775  1.814016
        2015   0.358303     1.035208  0.568859  0.575793  1.794270
        2014   0.353485     1.011988  0.550323  0.572344  1.782252
        2013   0.351541     0.986400  0.518040  0.558636  1.732714

In [14]:
sq_miles = pd.Series({
   "United States": 3.8,
   "Canada": 3.8,
   "Germany": 0.137,
   "United Kingdom": 0.0936,
   "Russia": 6.6,
}, name="sq_miles").to_frame()
sq_miles.index.name = "country"

sq_miles

                sq_miles
country
United States     3.8000
Canada            3.8000
Germany           0.1370
United Kingdom    0.0936
Russia            6.6000

In [34]:
pop_url = "https://datascience.quantecon.org/assets/data/wdi_population.csv"
pop = pd.read_csv(pop_url).set_index(["country", "year"])

# Exercise 1

In [35]:
popDF = pop
popDF.reset_index(inplace=True)

In [37]:
sizeDict = {
   "United States": 3.8,
   "Canada": 3.8,
   "Germany": 0.137,
   "United Kingdom": 0.0936,
   "Russia": 6.6,
}

In [44]:
def popHelper(country):
    return sizeDict[country]

In [42]:
popDF

          country  year  Population           size
0          Canada  2017   36.540268         Canada
1          Canada  2016   36.109487         Canada
2          Canada  2015   35.702908         Canada
3          Canada  2014   35.437435         Canada
4          Canada  2013   35.082954         Canada
..            ...   ...         ...            ...
67  United States  2004  292.805298  United States
68  United States  2003  290.107933  United States
69  United States  2002  287.625193  United States
70  United States  2001  284.968955  United States
71  United States  2000  282.162411  United States

[72 rows x 4 columns]

# Exercise 2

In [49]:
wdi2017 = wdi.xs(2017, level="year")
wdi2017.join(sq_miles.loc['Germany'],how='left')

                GovExpend  Consumption   Exports   Imports        GDP  Germany
country
Canada           0.372665     1.095475  0.582831  0.600031   1.868164      NaN
Germany          0.745579     2.112009  1.930563  1.666348   3.883870      NaN
United Kingdom   0.549538     1.809154  0.862629  0.933145   2.818704      NaN
United States    2.405743    12.019266  2.287071  3.069954  17.348627      NaN

In [50]:
wdi2017.join(sq_miles.loc['Germany'],how='right')

          GovExpend  Consumption  Exports  Imports  GDP  Germany
sq_miles        NaN          NaN      NaN      NaN  NaN    0.137

# Exercise 3

In [55]:
#Right

# Exercise 5

This results in the axis being different, and the columns with shared names are overwritten

The index is 1